extends layout

block content
    h1= title
    p
        |Welcome to
        a(href="https://twitter.com/AyymericM" target="_blank") AyymericM's
        |#{title}
    a(href="/all") See stored data
    br
    a(href="/new") Add data in db
