extends layout


block content
    h3 Add student
    form#form_add_student(name="addstudent", method="post",action="/addstudent")
        br
        h2 Name
        input#input_name(type="text", placeholder="student", name="name")
        br
        h2 Email
        input#input_name(type="text", placeholder="email", name="email")
        br
        h2 Street
        input#input_name(type="text", placeholder="street", name="street")
        br
        h2 City
        input#input_name(type="text", placeholder="city", name="city")
        br
        br
        button#submit_student(type="submit") submit
