extends layout


block content
    h3.
        Students
    ul
        each student, i in studentlist
            li#student_list_item
                p #{student.name} (#{student.email}) lives at #{student.address.street}, #{student.address.city}
